<h1>Product details</h1>
<% if(product !== null) { %>

<div>
  <div>
    <img
      src="/uploads/<%- product.image %>"
      alt="<%- product.image %>"
      loading="lazy"
    />
  </div>

  <div>
    <div>
      <h1><%= product.name %></h1>
    </div>
    <div>
      <i></i>
      <%- product.category %>
      <br />
      <br />
      <%- product.description %>
    </div>
    <div>
      <h4>Price</h4>
      <%- product.price %>
    </div>
    <div style="white-space: pre-line">
      <h4>Count in stock</h4>
      <%- product.countInStock %>
    </div>
    <br /><br />
  </div>
</div>
<% } else { %>
<p>No Items Found</p>
<% } %>
