<div>
  <h1><%= user.name %></h1>

  <div>
    <div>
      <label>Name</label>
      <p><%= user.name %></p>
    </div>
  </div>

  <div id="mtable" style="display: block">
    <div id="Grid">
      <table>
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Product</th>
            <th scope="col">Item</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if(product !='' ) { %> <% product.forEach(function(item,index){ %>
          <tr>
            <td><%= index+1 %></td>
            <td>
              <img
                src="/uploads/<%- item.image %>"
                alt=""
                width="70"
                height="70"
              />
            </td>
            <td><%= item.name %></td>
            <td><%= item.category %></td>

            <td>
              <button type="button" onclick="openEditModal('<%= item._id %>')">
                Edit
              </button>

              <button type="submit" onclick="removeList('<%= item._id %>')">
                Remove
              </button>

              <div id="editModal-<%= item._id %>" style="display: none">
                <div>
                  <h5>Edit product</h5>
                  <button
                    type="button"
                    onclick="closeEditModal('<%= item._id %>')"
                  >
                    Close
                  </button>
                </div>
                <div>
                  <form
                    action="/editList/<%= item._id %>"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div>
                      <label for="name">Product</label>
                      <input
                        type="text"
                        name="name"
                        value="<%= item.name %>"
                        autocomplete="off"
                      />
                    </div>

                    <div>
                      <label for="description">Description</label>
                      <textarea
                        name="description"
                        placeholder="<%= item.description %>"
                        autocomplete="off"
                      ></textarea>
                    </div>

                    <div>
                      <label for="ingredients">Ingredients</label>
                      <input
                        type="text"
                        name="ingredients"
                        value="<%= item.ingredients%>"
                        autocomplete="off"
                      />
                    </div>

                    <div>
                      <label for="instructions">Instructions</label>
                      <textarea
                        placeholder="<%= item.instructions %>"
                        name="instructions"
                      ></textarea>
                    </div>

                    <div>
                      <label for="category">Category</label>
                      <select name="category" value="<%= item.category %>">
                        <option selected><%= item.category %></option>
                        <option value="Thai">Thai</option>
                        <option value="American">American</option>
                        <option value="Chineese">Chineese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>
                        <option value="Italian">Italian</option>
                      </select>
                    </div>

                    <div>
                      <label for="image">Image</label>
                      <img
                        src="/uploads/<%= item.image %>"
                        alt="image"
                        width="80"
                        height="80"
                      />
                      <input type="file" name="image" accept="image/*" />
                    </div>

                    <div>
                      <button type="submit" id="editsubmit">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function openEditModal(itemId) {
    const modal = document.getElementById(`editModal-${itemId}`);
    modal.style.display = 'block';
  }

  function closeEditModal(itemId) {
    const modal = document.getElementById(`editModal-${itemId}`);
    modal.style.display = 'none';
  }

  function removeList(id) {
    fetch('/deleteList/' + id, {
      method: 'DELETE',
    })
      .then((response) => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Something went wrong');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('Error deleting the list. Please check the console for details.');
      });
  }
</script>
